* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #403A70;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.kotak {
    width: 1145px;
    height: 500px;
    margin: 0px 0;
    background: linear-gradient(90deg, #4D488C 44.92%, rgba(77, 72, 140, 0.8) 100%);
    border-radius: 50px;

}

.gambar {
    width: 1145px;
    height: 500px;
    background: url("img.jpg");
    background-size: 50vh;
    background-position: 200px;
    margin: 105px 0;
    /* mix-blend-mode: luminosity; */
    border-radius: 50px;
}


.isi-box {
    position: absolute;
    width: 500px;
    height: 434px;
    left: 321px;
    top: 148px;
}

h1 {
    font-size: 0.8rem;
    color: white;
    font-family: 'poppins', sans-serif;
}

h3 {
    font-size: 2.9rem;
    color: white;
    font-family: 'poppins', sans-serif;
}

form {
    margin: 20px 0;
    height: 200px;

}

.user {
    position: absolute;
    width: 390px;
    height: 46px;
    background: #514B96;
    border-radius: 10px;
    color: white;
    font-family: 'poppins', sans-serif;

}

.email {
    position: absolute;
    top: 185px;
    width: 390px;
    height: 46px;
    background: #514B96;
    border-radius: 10px;
    color: white;
    font-family: 'poppins', sans-serif;
}

.pass {
    position: absolute;
    top: 258px;
    width: 390px;
    height: 46px;
    background: #514B96;
    border-radius: 10px;
    color: white;
    font-family: 'poppins', sans-serif;
}

.bt {
    position: absolute;
    top: 328px;
    left: 115px;
    width: 150px;
    height: 46px;
    border-radius: 20px;
    background-color: orangered;
    color: white;
    font-family: 'poppins', sans-serif;
}

.bt:hover {
    background-color: white;
    color: black;
}

.quest {
    margin: 77px 0;
}

a {
    color: orangered;
}

a:hover {
    color: black;
}